@import url("https://fonts.cdnfonts.com/css/voor");

:root {
  --displayFont: "Voor", sans-serif;
  --font: "Arial Nova", sans-serif;
  /*  --morkBlaa: rgb(26, 32, 116);
*/
  --morkBlaa: #442c0b;
  /*--lysBlaa: #d0e7e7;
*/
  --lysBlaa: #d0e7e7;
  --rod: #752222;
  --gul: #fcfcb8;
}

body {
  color: var(--morkBlaa);
  font-family: var(--font);
  font-weight: 300;
  background: var(--gul);
  margin: 0;
  padding: 0;
}

main {
  font-size: 1.6rem;
  font-weight: 300;
}

h1 {
  font-family: var(--displayFont);
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  letter-spacing: 5px;
}

h2 {
  font-family: var(--displayFont);
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0%;
}

h3 {
  font-family: var(--displayFont);
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0%;
}

h4 {
  font-family: var(--font);
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0%;
}

p {
  margin: 0;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: var(--lysBlaa);
  font-size: 1.4rem;
}

a:hover {
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 3rem;
  align-items: center;
  background-color: var(--gul);
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 10;
}

nav .stor {
  width: 50%;
  text-align: left;
}

nav section {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: var(--morkBlaa);
  width: 30%;
  text-align: center;
}

nav a:hover {
  text-decoration: none;
  font-weight: 600;
}

.active {
  font-weight: 600;
}

/*Responsiv navbar*/
nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 1.7rem;
}

nav .menu span {
  height: 0.27rem;
  width: 100%;
  background-color: var(--morkBlaa);
  border-radius: 0.2rem;
}

strong {
  font-weight: 600;
}

.startside {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
}

.startside img {
  width: 30%;
}

.fedeProjekter {
  margin-top: 5rem;
  padding: 3rem;
  margin: auto;
  text-align: center;
  background-color: var(--morkBlaa);
  color: var(--gul);
}

.ProjektTop {
  display: flex;
  justify-content: space-around;
  text-align: left;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.ProjektTop img {
  width: auto;
  height: 25rem;
  object-fit: cover; /* Beskærer billedet, så det fylder elementet med bevaret billedformat */
  object-position: top; /* Justerer, hvilket område der skal vises */
}

.projekt-del {
  transition: transform 0.4s ease-in-out; /* Smooth animation */
}

.projekt-del:hover {
  transform: translateY(-2rem); /*gør at den "hopper" op når man hover*/
}

.ProjektTop a {
  color: var(--gul);
}

.ProjektTop a:hover {
  text-decoration: none;
}

.kompetencerBoks {
  padding: 5rem;
  text-align: center;
  margin: auto;
}
.kompetencer {
  margin: auto;
  margin-top: 1rem;
  width: 60%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.kompetencer p {
  border: 3px solid var(--morkBlaa);
  border-radius: 0.6rem;
  padding: 0.7rem 2rem;
}

.kompetencer p:hover {
  background-color: var(--morkBlaa);
  color: var(--gul);
}

/*CSS til projektsiden*/
.projekt-card {
  display: flex;
  justify-content: space-between;
  background-color: var(--morkBlaa);
  color: var(--gul);
  margin-bottom: 3rem;
  overflow: hidden;
}

.projekt-card article {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: right;
  margin: auto 0 auto auto;
  max-width: 80%;
}

.projekt-card article p {
  margin-bottom: 1rem;
}

.projekt-card figure {
  margin: 0;
  align-content: center;
}

button {
  width: 70%;
}

.projekt-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
}

.projekt-card:nth-child(2n) > article {
  /* for every second client row switch sides of image and text*/
  text-align: left;
  margin: auto auto auto 0;
}

@media (min-width: 768px) {
  .projekt-card {
    display: grid;
    grid-template-columns: 3fr 4fr;
  }

  .projekt-card:nth-child(2n) {
    grid-template-columns: 4fr 3fr;
  }

  .projekt-card:nth-child(2n) > img {
    order: 1;
  }

  .projekt-card:nth-child(2n) > article {
    order: 2;
  }
}

@media (max-width: 768px) {
  .projekt-card {
    display: block;
  }
}

/*styling til projektdetalje siden*/
.specifikt-projekt {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 4rem 0rem;
  gap: 3rem;
}

.specifikt-projekt article {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.specifikt-projekt article p {
  margin-bottom: 1rem;
}

.specifikt-projekt figure {
  width: 50%;
  margin: 0;
  padding-top: 0.3rem;
}

.specifikt-projekt figure img {
  width: 100%;
}

.specifikt-projekt button {
  color: var(--morkBlaa);
  border: 0.15rem solid var(--morkBlaa);
  font: 1.2rem;
  margin-top: 0;
}

.specifikt-projekt button:hover {
  color: var(--gul);
  background-color: var(--morkBlaa);
  font: 1.2rem;
  margin-top: 0;
}

.specifikt-projekt .link {
  color: var(--morkBlaa);
  margin-top: 2rem;
}

.About {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 5rem 0;
}

.abouttekst {
  width: 50%;
}

.About img {
  width: 40%;
  height: 100%;
}

/* Footer Contact Form */

.FooterContact {
  margin: 0%;
  padding: 3rem 8rem;
  display: flex;
  justify-content: space-around;
  background-color: var(--morkBlaa);
  color: var(--gul);
  font-size: 1.3rem;
}

.FooterContact a {
  color: var(--gul);
  font-size: 1.3rem;
}

.FooterContact h3 {
  font-size: 3rem;
  font-family: var(--displayFont);
  margin: 0%;
  padding-top: 2rem;
  font-weight: 400;
}

.FooterContact img {
  height: 4rem;
  margin-right: 1rem;
}

.kontaktDel {
  width: 40%;
}

.mail-tel-container {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.mail-tel-container img {
  width: 2.5rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

form label {
  margin-top: 1rem;
  font-size: 1.3rem;
}

form input {
  padding: 0.5rem;
  border: 0.15rem solid var(--gul);
  border-radius: 0.5rem;
  font-family: var(--font);
  font-weight: 200;
  background-color: #00000000;
  color: var(--gul);
  font-size: 1.2rem;
}

form textarea,
.projekt-card article a {
  margin-bottom: 1.5rem;
}

.besked,
button {
  padding: 0.5rem;
  border: 0.15rem solid var(--gul);
  border-radius: 0.5rem;
  font-family: var(--font);
  font-weight: 200;
  background-color: #00000000;
  color: var(--gul);
  font-size: 1.2rem;
}

button {
  font-size: 1.3rem;
  color: var(--gul);
}

button:hover {
  background-color: var(--gul);
  color: var(--morkBlaa);
  cursor: pointer;
}

/*@media regel for ipadstørrelse*/
@media (max-width: 1100px) {
  p {
    font-weight: 400;
  }
  nav .stor {
    width: 45%;
  }

  nav section {
    width: 55%;
  }

  nav .stor h1 {
    font-size: 2.5rem;
  }

  .ProjektTop img {
    height: 19rem;
  }

  .FooterContact {
    padding: 3rem 2rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .startside {
    flex-direction: column;
  }

  .startside img {
    width: 100%;
  }

  .fedeProjekter {
    padding: 3rem 1rem;
  }

  .ProjektTop {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .ProjektTop img {
    width: 90%;
    height: auto;
  }

  .kompetencer {
    width: 80%;
  }

  .kompetencerBoks {
    width: 90%;
    padding: 3rem 1rem;
  }

  .FooterContact {
    flex-direction: column;
    padding: 1rem;
  }

  .kontaktForm,
  .kontaktDel {
    width: 100%;
  }

  form {
    width: 100%;
  }

  .About,
  .specifikt-projekt {
    flex-direction: column;
    padding-top: 1rem;
    gap: 1rem;
  }

  .abouttekst,
  .specifikt-projekt article {
    width: 100%;
    order: 2;
  }

  .About img,
  .specifikt-projekt figure {
    width: 100%;
    order: 1;
  }
}

/*responsiv navbar til telefon*/
@media (max-width: 600px) {
  nav .menu {
    display: flex;
  }

  nav {
    flex-direction: column;
    align-items: start;
    padding: 0.5rem;
  }

  nav section {
    display: none;
    flex-direction: column;
    width: 100%;
    margin: 1.5rem 0.25rem;
    gap: 2rem;
  }

  nav section a {
    width: 100%;
    text-align: center;
  }

  nav .open {
    display: flex;
  }

  nav .stor {
    width: 85%;
    text-align: left;
  }

  nav .stor h1 {
    font-size: 2.5rem;
    letter-spacing: 3px;
  }
}
