:root {
  --navColor: #f3c7c7;
  --fontColor: #000034;
  --gul: #e6ec98;
}

body {
  font-family: system-ui, Avenir Helvetica, Arial, sans-serif;
  background: #f8f8f8;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  color: var(--fontColor);
}

main {
  padding: 2rem;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  font-size: 1.5rem;
  align-items: center;
  background-color: var(--navColor);
}

a {
  text-decoration: none;
  color: var(--fontColor);
}

.header {
  background-color: #e6ec98;
  text-align: center;
  min-height: 30rem;
  border-radius: 3rem;
}

img {
  max-width: 90%;
  height: auto;
}

.project-card {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1rem;
  text-align: left;

  display: flex;
  justify-content: space-between;
}

.projects-show {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.project {
  width: 30%;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1rem;
}
