@import url("https://fonts.cdnfonts.com/css/voor");

:root {
  --displayFont: "Voor", sans-serif;
  --font: "Arial Nova", sans-serif;
  --morkBlaa: #1a2074;
  --lysBlaa: #d0e7e7;
  --rod: #752222;
  --gul: #fcfcb8;
}

body {
  color: var(--morkBlaa);
  font-family: var(--font);
  font-weight: 300;
  background: var(--gul);
  margin: 0;
  padding: 0;
}

main {
  padding: 2rem;
}

h1 {
  font-family: var(--displayFont);
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-family: var(--displayFont);
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 400;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  font-size: 1.5rem;
  align-items: center;
  background-color: var(--lysBlaa);
}

a {
  text-decoration: none;
  color: var(--morkBlaa);
}
